[toolchain]
package_manager = "bun"

[features]
resolution = true
skip-lint = false

[programs.localnet]
test_2 = "AqN6S5LJ4m1C5bQnr8996YFRu3jA1YnwaiG7eGEvD3oD"

[programs.devnet]
test_2 = "AqN6S5LJ4m1C5bQnr8996YFRu3jA1YnwaiG7eGEvD3oD"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "bun run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
